<div class="container">
  <div class="container-fluid text-center pt-4">
    <button type="button" class="btn btn-primary" (click)="getRandomDrink()">
      Click Here
    </button>
    <hr>
    <div class="d-flex justify-content-center">
      <div *ngIf="drink">
        <div class="card" style="width: 18rem;">
          <img src="{{drink.strDrinkThumb}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> {{drink.strDrink}} - {{drink.strAlcoholic}} </h5>
            <div class="card-text">
              <p>
                Category: {{drink.strCategory}}
              </p>
              <p>
                Instructions: {{drink.strInstructions}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="drink">
    <div class="row mt-4">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let measure of measures"> {{drink[measure]}}</li>
        </ul>

      </div>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of ingredients"> {{drink[ingredient]}} </li>
        </ul>

      </div>

    </div>
  </div>
</div>
